<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="Fondo5">
      <h1>Index</h1>
    <div class="jumbotron">
      <h1 class="display-4" id="MiTitulo">Bienvenido a TopTrend </h1>
      <p class="lead" id="textos">En este sitio encontrarás varios artículos, vídeos y contenido multimedia para conocer las ultimas tendencias en moda.</p>
      
    </div>
    <div class="container text-center"> 
      <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4RDXswvP6Mj?si=Lv4R7JgHRWSRVy-hkTolPg" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXYhWcTBGc47?si=liVCKQ7kQZO9NXXdDI5OqQ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX1riuLHc7Ui5?si=ywqG1lwoSYqPVEiPKu6Ekw" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    </div>
    
    <%- include('../partials/script'); %>
    <%- include('../partials/footer'); %>
    
  </body>
</html>
