

<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/head'); %>
  
</head>

<body>
  <div class="mydiv">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center">
              <span class="fa fa-sign-in"></span>Regístrate
            </h1>
            <% if (message.length >0){ %>
              <div class="alert alert-danger c" >
                 <c> <%= message %> </c> 
              </div>
            <% } %>
            <form action="/signup" method="post">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Contraseña">
              </div>
              <input type="submit" class="w-100 btn btn-dark btn-lg">
            </form>
            <hr>
            <div class="text-center">
              <p>Ya tienes cuenta? <a href="/login">Iniciar sesión</a> </p>
              <p>Volver a  <a href="/">Inicio</a>. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
    
    
  <%- include('partials/script'); %>
</body>
<%- include('partials/footer'); %>

</html>