/*
Nombre del autor: Noemí Pérez Vega
Objetivo de archivo: Proporcionar estilos acada uno de los componentes del proyecto
Fecha y hora: domingo, ‎4‎ de ‎octubre‎ de ‎2020, ‏‎10:54:35 p. m.
*/
a {
    color: #00B7FF;
  }
  .bg-3 {
    background-color: #ffffff;
    color: #555555;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Merienda One', cursive;
    color: lightpink !important;
  }
  .navbar-nav li a:hover {
      color:lightpink !important;
  }
  .active>a {
      color: lightpink !important;
      ;
  }
  .yo{
    border: coral dotted 3px;
    border-radius: 10px;
    padding: 20px;
    background: white;
    margin-bottom: 50px;
  }
  footer{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
  
  }
  .foto1{
    width: 300px;
    border: khaki 4px solid;
    align-self:center;
  }
  p{
    font-family: 'Philosopher', sans-serif;
    font-size: 22px;
  }
  .col-sm-4{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #post{
    margin-top: 50px;
    margin-bottom: 50px;;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .mydiv {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    background: linear-gradient(150deg, #b9ddee,  #95adfd, #283df8);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
  }
  
  @keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  li.nav-item{
    padding-right:20px;
    padding-left: 20px;
  }
  li.right{
    padding-right: 0px;
    margin-right: 0;
    align-items: right;
  }
  #map {
    height: 100%;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #MiTitulo{
    font-family: 'Lobster', cursive;
  }
  .Fondo{
    background-color: lightpink;
  }
  .Fondo2{
    background-color: powderblue;
  }
  .Fondo3{
    background-color: tomato;
  }
  .Fondo4{
    background-color: violet;
  }
  .Fondo5{
    background-color: turquoise;
    margin: 0%;
    padding-bottom: 0%;
  }
  #textos{
    font-family: 'Philosopher', sans-serif;
  }
  .Barra {
    background-color:black;
  }
  #boton{
    color: pink;
  }
  #edit{
    color: #2ab80d;
  }
  #delete{
    color: red;
  }
  #dif{
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    color: salmon;
  }
  #tit{
    font-family: 'Satisfy', cursive;
    font-size: 36px;
    background-color: dodgerblue;
    text-align: center;
  }
  #tablaDirectores{
    background-color: gold;
  }
  .container{
    padding-top: 30px;
  }
  label{
    font-size: 15px;
  }
  c{
    font-size: 15px;
    height: auto !important;
    width: auto;
    margin: 0px !important;
    padding: 0px !important;

  }
  .c{
    height: auto !important;
    padding: 0px !important;
    padding-left: 10px !important;
  }
  