<!-- views/partials/footer.ejs -->
<footer class="footer">
    <p>© 2020 Noemí Pérez, todos los derechos reservados.</p>
    <a class="twitter-follow-button" href="https://twitter.com/TwitterDev"><i class="fab fa-twitter"></i>Follow @TwitterDev</a>
</footer>
</html>